.circle
{
    -fx-border-radius: 25;
    -fx-background-radius: 25;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: transparent;

}
.bg
{
    -fx-background-image: url("/image/background.jpg");
}
.bgOther
{
    -fx-background-image: url("/image/otherpage.jpg");
}
.buttonMain
{
    -fx-border-color: white;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 25px;
    -fx-color-label-visible: white;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20px;
    -fx-border-radius: 25px;
}
.buttonMain:hover
{
    -fx-border-color: white;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: white;
    -fx-text-fill: linear-gradient(to right,#5f0a87,#a4508b);
    -fx-background-radius: 25px;
    -fx-color-label-visible: white;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20px;
    -fx-border-radius: 25px;
}
.side-Button-hold
{
    -fx-text-fill: black;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20px;
    -fx-background-color: rgb(255,255,255);-fx-opacity: 0.3;
}

.buttonStart
{
    -fx-background-color: white;
}
.text-field-main {
    -fx-border-color: white;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: white;
    -fx-text-fill: linear-gradient(to right,#5f0a87,#a4508b);
    -fx-background-radius: 35px;
    -fx-color-label-visible: white;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20px;
    -fx-border-radius: 35px;
}
.side-Button
{
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20px;
}
.side-Button:hover
{
    -fx-text-fill: black;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20px;
    -fx-background-color: rgb(255,255,255);-fx-opacity: 0.3;
}
.paneBackground
{
    -fx-background-color: linear-gradient(to bottom,#09C6F9,#045DE9);
    -fx-background-radius: 20px;
}
.purpleButton
{
    -fx-border-color: white;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 25px;
    -fx-color-label-visible: white;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20px;
    -fx-border-radius: 25px;
}
.purpleButton:hover
{
    -fx-border-color: white;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: white;
    -fx-text-fill: linear-gradient(to right,#09C6F9,#045DE9);
    -fx-background-radius: 25px;
    -fx-color-label-visible: white;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20px;
    -fx-border-radius: 25px;
}
.purpleTextField {
    -fx-border-color: white;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: white;
    -fx-text-fill: linear-gradient(to right,#09C6F9,#045DE9);
    -fx-background-radius: 25px;
    -fx-color-label-visible: white;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20px;
    -fx-border-radius: 25px;
}
.addHostPaneBG
{
    -fx-background-color: linear-gradient(to bottom,#9ebd13,#008552);
    -fx-background-radius: 20px;
}
.blockHostPaneBG
{
    -fx-background-color: linear-gradient(to bottom,#daae51,#d53369);
    -fx-background-radius: 20px;
}
.greenTextField {
    -fx-border-color: white;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: white;
    -fx-text-fill: linear-gradient(to right,#008552,#9ebd13);
    -fx-background-radius: 25px;
    -fx-color-label-visible: white;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20px;
    -fx-border-radius: 25px;
}
.redTextField {
    -fx-border-color: white;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: white;
    -fx-text-fill: linear-gradient(to right,#d53369,#daae51);
    -fx-background-radius: 25px;
    -fx-color-label-visible: white;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20px;
    -fx-border-radius: 25px;
}
.greenButton
{
    -fx-border-color: white;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 25px;
    -fx-color-label-visible: white;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20px;
    -fx-border-radius: 25px;
}
.greenButton:hover
{
    -fx-border-color: white;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: white;
    -fx-text-fill: linear-gradient(to right,#008552,#9ebd13);
    -fx-background-radius: 25px;
    -fx-color-label-visible: white;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20px;
    -fx-border-radius: 25px;
}
.redButton
{
    -fx-border-color: white;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 25px;
    -fx-color-label-visible: white;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20px;
    -fx-border-radius: 25px;
}
.redButton:hover
{
    -fx-border-color: white;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: white;
    -fx-text-fill: linear-gradient(to right,#d53369,#daae51);
    -fx-background-radius: 25px;
    -fx-color-label-visible: white;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20px;
    -fx-border-radius: 25px;
}
.redPinkPane
{
    -fx-background-color: linear-gradient(to bottom,#FF512F,#dd2476);
    -fx-background-radius: 20px;
}
.redPinkTextField {
    -fx-border-color: white;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: white;
    -fx-text-fill: linear-gradient(to right,#FF512F,#dd2476);
    -fx-background-radius: 25px;
    -fx-color-label-visible: white;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20px;
    -fx-border-radius: 25px;
}
.redPinkButton
{
    -fx-border-color: white;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 25px;
    -fx-color-label-visible: white;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20px;
    -fx-border-radius: 25px;
}
.redPinkButton:hover
{
    -fx-border-color: white;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: white;
    -fx-text-fill: linear-gradient(to right,#FF512F,#dd2476);
    -fx-background-radius: 25px;
    -fx-color-label-visible: white;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20px;
    -fx-border-radius: 25px;
}
.host-list-bg
{
    -fx-background-color: linear-gradient(to bottom,#F67062,#FC5296);
    -fx-background-radius: 20px;
}
.item-pane-bg
{
    -fx-background-color: linear-gradient(to bottom,#C373F2,#F977CE);
    -fx-background-radius: 20px;
}
.item-button
{
    -fx-border-color: white;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-background-radius: 25px;
    -fx-color-label-visible: white;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20px;
    -fx-border-radius: 25px;
}
.item-button:hover
{
    -fx-border-color: white;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: white;
    -fx-text-fill: linear-gradient(to right,#C373F2,#F977CE);
    -fx-background-radius: 25px;
    -fx-color-label-visible: white;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20px;
    -fx-border-radius: 25px;
}
.item-textField
{
    -fx-border-color: white;
    -fx-border-width: 2 2 2 2;
    -fx-background-color: white;
    -fx-text-fill: linear-gradient(to right,#C373F2,#F977CE);
    -fx-background-radius: 25px;
    -fx-color-label-visible: white;
    -fx-font-family: "Century Gothic";
    -fx-font-size: 20px;
    -fx-border-radius: 25px;
}

.combo-room-box
{
    -fx-background: white;
    -fx-background-color: white;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}