.table-view .column-header {
      -fx-background-color: transparent;
  }

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#9ebd13 0.0%, #008552 100.0%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-font-weight:bold;
    -fx-text-fill: white;
}

  .table-view .table-cell
  {
      -fx-font-weight:bold;
      -fx-font-size:12px;
  }
